<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- cdn bootstrap CSS-->
    
</head>

<body style="text-align: center;">
    <h1>
        curso angular
    </h1>
    <div>
        Writting '{{myHelloComponent.inputName}}' in HelloComponent
    </div>
    <app-hello #myHelloComponent [name]="myName" (sayHello)="onSayHello($event)"></app-hello>
</body>

</html>